<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Break-Up Request Attempt | Strel</title>
  </head>
  <body>
   <table class="table table-striped table-responsive-md btn-table">

  <thead>
    <tr>
      <th>Break-Up Request</th>
      <th>Decline</th>
      <th>Confirm</th>
    </tr>
  </thead>

  <tbody>
  	{% for i in b_q %}
    <tr>

      <th scope="row">{{ forloop.counter }}.</th>
      
      <td>
        <button type="button" class="btn btn-teal btn-rounded btn-sm m-0" onclick="window.location.href='/maleapp/brdeclinebymale'">Decline</button>
      </td>
      <td>
        <button type="button" class="btn btn-teal btn-rounded btn-sm m-0" onclick="window.location.href='/maleapp/yesbreakup'">Yes, Break-Up</button>
      </td>
    </tr>
    {% endfor%}
  </tbody>

</table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>