<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Strel | Boy's Listing</title>

    <style>
      .bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
    </style>


    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="/femaleapp">
    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
    Strel
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{myprofile.pic.url}}" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="femaleapp/rrtofemale">Relationship Requests</a>
          <a class="dropdown-item" href="/deactivate">Deactivate</a>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
</nav>
  </head>
<body>

  <br>
    <div class="col-md-12">
      <div class="middle_wrapper">
        <div class="row">
          {% for i in femaledata %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" class="img-fluid" src="{{i.pic.url}}" alt="{{i.user.first_name}}">
              <div class="card-body">
                <b class="card-title">
                  <span>{{i.user.first_name}} {{i.user.last_name}}</span>
                </b><br>
                <span>Address: {{i.address}}</span>
                <p class="card-text">{{i.email}}</p>
              </div>
              <div class="card-footer">
                <a href="femaleapp/fullprofile/{{i.id}}" class="btn btn-primary" style="color: white;">View Full Profile</a>
              </div>
            </div>
          </div>
          {% endfor %}
          
                    
            
    <script src="https://kit.fontawesome.com/042d9ac2d4.js" crossorigin="anonymous"></script>  
    <script>
      window.setTimeout(function () {
    location.href = "/maleapp";
}, 180000); // refresh/redirect after 3 minutes.
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
    </body>
</html>